body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#botonesMapa {
  position: absolute;
  bottom: 10px ;
  width: 100%;
  text-align:center;
  padding: 10px;
  z-index: 400;
}
